@model projeto_pucminas_eixo2.Models.Venda

@{
    ViewData["Title"] = "Editar";
    var ptBR = new System.Globalization.CultureInfo("pt-BR");
    string valorFormatado = Model.Valor.ToString("C", ptBR);
    string valorTotalFormatado = (Model.Valor * Model.QuantidadeVenda).ToString("C", ptBR);
}

<h1>Editar</h1>

<h4>Venda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QuantidadeVenda" class="control-label"></label>
                <input asp-for="QuantidadeVenda" class="form-control" />
                <span asp-validation-for="QuantidadeVenda" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input type="text" class="form-control" value="@valorFormatado" readonly />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ValorTotal">Valor Total</label>
                <input type="text" id="ValorTotal" class="form-control" value="@valorTotalFormatado" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" asp-items="Html.GetEnumSelectList<TipoPagamento>()"></select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ProdutoId" class="control-label"></label>
                <select asp-for="ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                <span asp-validation-for="ProdutoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
